form * {
  display: block;
  margin: 10px;
}
body {
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  background-color: #000000;
}
label {
  color: #0000ff;
}
h1 {
  color: #ff0000;
}
p {
  color: #0000ff;
}
a {
  color: #ff6400;
  text-decoration: none;
}
a:hover {
  color: #ff6400;
  text-decoration: underline;
}

a:active {
  text-decoration: underline, bold;
  color
}
