form * {
  display: block;
  margin: 10px;
}
body {
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  background-color: #000000;
}

h1 {
  color: #ff0000;
}
p {
  color: #0000ff;
}
a {
  color: #ff6400;
  font-weight: normal;
  text-decoration: none;
}
a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #ff6400;
}

a:hover {
  color: #ff6400;
  font-weight: normal;
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
  font-weight: bold;
  color: #ffffff;
}

th,td
    {
      padding: 1px;
      background-color: black;
      border:1px solid white;
      color:#0000ff;
    }
table {
  background-color: black;
  border:1px solid white;
  color:#0000ff;
}
