body {
    font-family: 'Press Start 2P';
    font-size: 15px;
    background-color: #000000;
}
a {color: #ff6400;text-decoration: none;}
a:hover {color: #ff6400;text-decoration: underline;}
a:active {color: #ffffff;text-decoration: underline bold;}
a:visited {color: #ff6400;text-decoration: bold;}
