a {
  color: #ff6400;
  text-decoration: none;
}

p {
  color: #0000ff;
}

label {
  color: #0000ff;
  cursor: pointer;
}

h1 {
  color: #ff0000;
}

body {
  font-family: 'Press Start 2P';
  background-color: #000000;
}

a:hover {
  color: #ff6400;
  text-decoration: underline;
}

a:active {
  color: #ffffff;
  text-decoration: underline bold;
}

a:visited {
  color: #ff6400;
  text-decoration: bold;
}
