body {
    font-family: 'Press Start 2P';
    font-size: 15px;
}

a {
    color: #ff6400;
    text-decoration: none;
}

#can {
    background-color: "#000000";
}

#eraserDiv {
    color: #0000ff;
}

h1 {
    color: #ff0000;
}
a:hover {
    color: #ff6400;
    text-decoration: underline;
}
