body {
  font-family: 'Press Start 2P';
  font-size: 15px;
}

a {
  color: #ff6400;
  font-weight: normal;
  text-decoration: none;
}

#can {
  background-color: "#000000";
}

#eraserDiv {
  color: #0000ff;
}

h1 {
  color: #ff0000;
}

a:visited {
  color: #ff6400;
  foont-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #ff6400;
  fonot-weight: normal;
  text-decoration: underline;
}

a:active {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}
