p {
  color: #0000ff;
}

h1 {
  color: #ff0000;
}

h3 {
  color: #00ff00;
}

a {
  color: #ff6400;
  text-decoration: none;
}

a:hover {
  color: #ff6400;
  text-decoration: underline;
}

body {
  background-color: #000000;
  font-family: 'Press Start 2P', cursive;
}

a:active {
  text-decoration: underline;
  font-weight: bold;
  color: #ffffff;
}

a:visited {
  text-decoration: bold;
  color: #ff6400;
}
