p {
  color: #0000ff;
}

h1 {
  color: #ff0000;
}

h3 {
  color: #00ff00;
}

a {
  color: #ff6400;
  a {text-decoration: none;}
  a:hover {text-decoration: underline;}
}

body {
  background-color: #000000;
  font-family: 'Press Start 2P', cursive;
}
